.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ffc600, #ffba00);
  padding: 50px;
  color: #fff;
}

.header-text {
  max-width: 600px;
}

.header-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.header-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.header-image img {
  width: 400px;
  border-radius: 20px;
  position: relative;
  top: 50px;
  right: 50px;
}

.search-box {
  background: #ffffff;
  padding: 16px;
  border-radius: 16px;
  width: 520px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.delivery-type {
  display: flex;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 6px;
  gap: 6px;
  margin-bottom: 12px;
  position: relative;
  top: 11.5px;
}

.delivery-type button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 0;
  border: none;
  background: transparent;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #666;
}

.delivery-type button.active {
  background: #ffffff;
  color: #ff7a1a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.delivery-type img {
  width: 18px;
  height: 16px;
}

.search-bar {
  display: flex;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 6px;
  gap: 6px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 0.95rem;
}

.search-bar button {
  padding: 12px 20px;
  background: #ff7a1a;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
